<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RoeMe</title>

    <%= stylesheet_link_tag    'welcome', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Navigation -->
    <!-- <nav class="navbar navbar&#45;inverse navbar&#45;fixed&#45;top topnav" style="background&#45;color: #605ca8;" role="navigation"> -->
    <!--   <div class="container topnav"> -->
    <!--     <!&#45;&#45; Brand and toggle get grouped for better mobile display &#45;&#45;> -->
    <!--     <div class="navbar&#45;header"> -->
    <!--       <button type="button" class="navbar&#45;toggle" data&#45;toggle="collapse" data&#45;target="#bs&#45;example&#45;navbar&#45;collapse&#45;1"> -->
    <!--         <span class="sr&#45;only">Toggle navigation</span> -->
    <!--         <span class="icon&#45;bar"></span> -->
    <!--         <span class="icon&#45;bar"></span> -->
    <!--         <span class="icon&#45;bar"></span> -->
    <!--       </button> -->
    <!--       <a class="navbar&#45;brand topnav" href="#">Roe ME</a> -->
    <!--     </div> -->
    <!--     <!&#45;&#45; Collect the nav links, forms, and other content for toggling &#45;&#45;> -->
    <!--     <div class="collapse navbar&#45;collapse" id="bs&#45;example&#45;navbar&#45;collapse&#45;1"> -->
    <!--       <ul class="nav navbar&#45;nav navbar&#45;right"> -->
    <!--         <!&#45;&#45; <li> &#45;&#45;> -->
    <!--         <!&#45;&#45;   <a href="#about">About</a> &#45;&#45;> -->
    <!--         <!&#45;&#45; </li> &#45;&#45;> -->
    <!--         <!&#45;&#45; <li> &#45;&#45;> -->
    <!--         <!&#45;&#45;   <a href="#services">Features</a> &#45;&#45;> -->
    <!--         <!&#45;&#45; </li> &#45;&#45;> -->
    <!--         <!&#45;&#45; <li> &#45;&#45;> -->
    <!--         <!&#45;&#45;   <a href="#contact">Contact</a> &#45;&#45;> -->
    <!--         <!&#45;&#45; </li> &#45;&#45;> -->
    <!--       </ul> -->
    <!--     </div> -->
    <!--     <!&#45;&#45; /.navbar&#45;collapse &#45;&#45;> -->
    <!--   </div> -->
    <!--   <!&#45;&#45; /.container &#45;&#45;> -->
    <!-- </nav> -->


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1>Roe ME</h1>
              <h3>A LuLaRoe Inventory Management System</h3>
              <hr class="intro-divider">
              <ul class="list-inline intro-social-buttons">
                <li>
                  <a href="/auth/facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Get Started with Facebook</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Know What You've Got</h2>
            <p class="lead">It can be a huge pain to keep track of all of your inventory by hand or with a spreadsheet. Cut down on that hassle and get a handle on what you've got in stock. No more "I'll have to check when I get home" when someone asks if you have those super cute leggings.</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="img/ipad.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Sell on FB like a boss!</h2>
            <p class="lead">Ever been in FB jail? It sucks right? You can now schedule when items are posted, so you don't have to sit at the computer all day hitting refresh hoping they've released you back to the wild :)</p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <img class="img-responsive" src="img/dog.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Market and Advertise Your Parties Like a Club Promoter</h2>
            <p class="lead">Start tracking and knowing what your customers love. Sync customer email addresses to mail chimp so you can blast an email to your buyers when you are about to kick off a new sale.</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="img/phones.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <a  name="contact"></a>
    <div class="banner">

      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <h2>Pricing</h2>
          </div>
          <div class="col-lg-6">
            $30 / year
            <!-- <ul class="list&#45;inline banner&#45;social&#45;buttons"> -->
            <!--   <li> -->
            <!--     <a href="https://twitter.com/SBootstrap" class="btn btn&#45;default btn&#45;lg"><i class="fa fa&#45;twitter fa&#45;fw"></i> <span class="network&#45;name">Twitter</span></a> -->
            <!--   </li> -->
            <!--   <li> -->
            <!--     <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn&#45;default btn&#45;lg"><i class="fa fa&#45;github fa&#45;fw"></i> <span class="network&#45;name">Github</span></a> -->
            <!--   </li> -->
            <!--   <li> -->
            <!--     <a href="#" class="btn btn&#45;default btn&#45;lg"><i class="fa fa&#45;linkedin fa&#45;fw"></i> <span class="network&#45;name">Linkedin</span></a> -->
            <!--   </li> -->
            <!-- </ul> -->
          </div>
        </div>

      </div>
      <!-- /.container -->

    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li>
                <a href="/terms">Terms</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="/privacy">Privacy</a>
              </li>
              <li class="footer-menu-divider">&sdot;</li>
              <li>
                <a href="mailto:info@roeme.com">Contact</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; RoeMe Inc 2016. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
    <%= javascript_include_tag 'welcome' %>
    <%= csrf_meta_tags %>
  </body>
</html>
