<h1>RoeMe Inventory</h1>

<ul class="list-group">
  <% @items.each do |item| %>
    <li class="list-group-item">
      <%= link_to item.name, item %>
      <% ItemSize.sizes.keys.each do |size| %>
        <span class="label">
          <%= size %><%= item.sizes.where(size: size).count %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>

<a href="<%= new_item_path %>" class="btn btn-primary">
  Add Item
</a>
