<h1>Sales</h1>
<p></p>

<div class="form-group">
  <a href="/sales/new" class="btn btn-default">
    New Sale
  </a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Paid</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.id %></td>
        <td><%= sale.paid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
